# .npmrc
unsafe-perm=true
onlyBuiltDependencies[]=@tailwindcss/oxide
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=@biomejs/biome
onlyBuiltDependencies[]=@resvg/resvg-js
