---
import YouTubePopup from '../components/react/YouTubePopup.jsx';
import PageLayout from "@/layouts/Base.astro";
import { siteConfig } from "@/site.config";
import SocialList from "@/components/SocialList.astro";

const meta = {
	description: "kush1jpeg's github page",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
<div class="prose prose-sm prose-cactus max-w-none space-y-6 ">
  <p>
  Wubba Lubba dub-dub , I am kushagra -> kush1jpeg (in the online world), say my name thrice and will appear infront of u
  telling how arch and nvim is the best (though i am still learning both). I like coffee more than i like people... <br> <br>

  I sometimes code, a little bit, i am falling in love with the world of low level
  programming, system design ,compilers(<em>will_build.future_inPain</em>), internals**
  - the whole “<em>programming near the metal</em>” thing, but still know <a href="https://youtu.be/CUhVm9XPeZA" target="_blank">jack fuck of anything</a>.
<!--  <YouTubePopup client:load />  -->
<div class="flex items-center gap-2 p-0 m-0" >
  <p>

To maintain some illusion of employability (and a little sanity for the people around me) i have to get my hands dirty inside shitty abstracted languages
like web dev and insert buzzword framework in the resume.
Yes, I know AI is coming for my job. I just hope it takes me out quickly. <br> <br>


    also
    <span class="text-sm font-light italic text-emerald-700 rounded">
      i really hate the ubermensch dream
    </span>,
    trying to follow Camus' absurd way of life — "Life is meaningless"
  </p>
  <img src="/camus.png" alt="Camus" class="w-55 h-50 object-contain ">
</div>


  <div class="text-xs italic ps-0 space-y-5 bg-zinc-600/50 p-2 mt-4 rounded border-l-4 border-accent">
    <p class="mb-1 ml-2">The outcome is pretty much as you would expect –</p>
    <ul class="list-none ps-3">
      <li>✖ No fucking social life.</li>
      <li>✖ Perfectly curved spine like my Dahem ahem.</li>
      <li>✖ Still buffering on how to interact with humans.</li>
      <li>✖ The bulb in my room is brighter than my future.</li>
    </ul>
  </div>

  <p>
  <br>
    <h3> What I do</h3>
    I build, pretty useless things, often trying to reinvent the wheel but with a catch......i make it worse! but proudly! <br>
    tldr - they are mostly stupid things with oddly over-ambitious ideas, either way, don't rescue me — document it.
    <br> <br> If you made it this far, congratulations -
    You now know more about me than my extended family.
    For everything else -

	<SocialList />
  </p>

</div>

</PageLayout>


